.mini-section {
  display: grid;
  grid-template-columns: repeat(
    1,
    1fr
  ); /* На больших экранах - 4 элемента в ряд */
  grid-template-rows: auto;
  gap: 10px; /* Добавляем промежуток между элементами */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  // width: 340px;
  text-align: center;
  position: relative;
  margin-top: 521px;
  margin-left: 45px;
  margin-bottom: 70px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0625) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(22.5px);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInMiniSection 1s ease forwards;
  animation-delay: 1s;
}

.number {
  font-family: "Roboto";
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  color: white;
  background: radial-gradient(
    circle at center,
    #3597ff 0%,
    rgba(53, 151, 255, 0) 100%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.text {
  font-family: "Roboto";
  margin-top: 133px;
  margin-bottom: 62px;
  margin-left: 29px;
  margin-right: 31px;
  color: white;
}

@keyframes fadeInMiniSection {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1400px) {
  .mini-section {
    grid-template-columns: repeat(1, 2fr); /* На поменьше - 2 элемента в ряд */
    width: 330px;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .mini-section {
    grid-template-columns: repeat(1, 1fr); /* На маленьких - 1 элемент в ряд */
    width: 100%; /* Меняем ширину на 100% для полной адаптивности */
    max-width: 330px; /* Добавляем максимальную ширину */
    margin-left: auto; /* Центрируем блок по горизонтали */
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
